@model List<Wagenpark.Models.LodgeTypes> 





@{
    ViewBag.Title = "Boekingen";
}

<h2>Welke Lodge wilt u boeken?</h2>
<div class="col-sm-4">

    <fieldset>
        <h2>Kies de begin en einddatum</h2>

        <div>
            <label for="start">Start</label>
            <input type="date" id="start" name="trip"
                   value="2018-07-22"
                   min="2018-01-01" max="2018-12-31" />
        </div>

        <div>
            <label for="end">End</label>
            <input type="date" id="end" name="trip"
                   value="2018-07-29"
                   min="2018-01-01" max="2018-12-31"/ >
        </div>

    </fieldset>
</div>

  <style>
      legend {
          background-color: #000;
          color: #fff;
          padding: 3px 6px;
      }

      .output {
          font: 1rem 'Fira Sans', sans-serif;
      }

      input {
          margin: .4rem;
      }

      label {
          display: inline-block;
          text-align: right;
          width: 20%;
      }

  </style>
            
    


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <p>
        @Html.ActionLink("Create New", "BoekingBevestigen")
    </p>

    <div class="col-sm-8">
        <table class="table" style="background-color: #fff">
            
            
            @foreach (var item in Model)
            { 
               <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.LodgeOmschrijving)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LodgeTypeNaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.aantalpersonen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.prijs)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.LodgeTypeID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.LodgeOmschrijving }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.LodgeTypeID })
                    </td>
                </tr>
            }
            
            </table>
    </div>
    


